# git
.gitignore
.gitattributes
.git/
.github/
.gitlab/
.gitlab-ci.yaml

# docker
.dockerignore
Dockerfile
docker-compose.yml

# jetbrains
.idea/

# visual studio
.vscode/
.vs/

# python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# docs
**/*.md

# project-specific
/deployment/
/settings/
