# OpenCEM compose stack
name: open-cem

# services to deploy
services:
  # CEM
  cem:
    restart: unless-stopped
    image: open-cem
    build:
      context: .
    volumes:
      - ./System_Settings:/app/System_Settings
      - ./xml_files:/app/xml_files
    ports:
      - '127.0.0.1:8000:8000'
    environment:
      MQTT_HOST: mqtt
      MQTT_PORT: 1883
      INFLUX_HOST: influxdb
      INFLUX_PORT: 8086
      HTTP_HOST: '0.0.0.0'
      HTTP_PORT: 8000
      CONFIG_PATH: /app/System_Settings
      XML_PATH: /app/xml_files
    logging:
      options:
        max-size: "10m"
        max-file: "5"
    depends_on:
      - mqtt
      - influxdb
  # MQTT broker
  mqtt:
    restart: unless-stopped
    image: eclipse-mosquitto:2.0
    # disabled authentication for testing purposes
    command: /usr/sbin/mosquitto -c /mosquitto-no-auth.conf
    ports:
      - '127.0.0.1:1883:1883'
    logging:
      options:
        max-size: "10m"
        max-file: "5"
  # InfluxDB V1
  influxdb:
    restart: unless-stopped
    image: influxdb:1.12
    ports:
      - '127.0.0.1:8086:8086'
    environment:
      INFLUXDB_REPORTING_DISABLED: true
      INFLUXDB_HTTP_AUTH_ENABLED: false
      INFLUXDB_HTTP_LOG_ENABLED: true
    logging:
      options:
        max-size: "10m"
        max-file: "5"
